<ion-content>
  <span class = "logo">Book Me</span>
  <div class="userin">
    <ion-item  counter="true">
      <ion-label  position="floating">Username</ion-label>
      <ion-input class="uin" (change)="checkusername()" [(ngModel)]="uinvalue" maxlength="10"[clearInput]="true" placeholder="Username"></ion-input>
      <ion-note slot="helper" [hidden]="namehelp"> At least 3 characters</ion-note>
      <ion-note slot="helper" class="error" [hidden]="nameerror">Username Already Taken</ion-note>
    </ion-item>
  </div>

  <div class="emailin">
    <ion-item  counter="true">
      <ion-label  position="floating">Email</ion-label>
      <ion-input  [(ngModel)]="einvalue" (change)="checkemail()" type="email" maxlength="50"[clearInput]="true" placeholder="example@example.com"></ion-input>
      <ion-note slot="helper" [hidden]="emailhelp">Enter a valid email</ion-note>      
      <ion-note slot="helper" class="error" [hidden]="emailerror">Email already exists</ion-note>
    </ion-item>
  </div>

  <div class="passin">
    <ion-item  counter="true">
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="pinvalue" (change)="checkpass()" type="password" maxlength="15" [clearInput]="true" placeholder="password"></ion-input>
      <ion-note slot="helper" [hidden]="passhelp">At least 8 characters</ion-note>
      <ion-note slot="helper" [hidden]="passmatch">Passwords don't match</ion-note>
    </ion-item>
  </div>

  <div class="passmatch">
    <ion-item  counter="true">
      <ion-label  position="floating">Confirm password</ion-label>
      <ion-input [(ngModel)]="cinvalue" (change)="checkconfirm()" type="password" maxlength="15" [clearInput]="true" placeholder="password"></ion-input>
      <ion-note slot="helper" [hidden]="passmatch">Passwords don't match</ion-note>
    </ion-item>
  </div>


  <div class="signup">
    <ion-button [class]="thebtn" [disabled]="signbtn" expand="block" (click)="signup()">Sign Up</ion-button>
    <ion-button class="login" fill="clear" routerLink="/login">Already have an account? Login</ion-button>
  </div>
</ion-content>
