<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class = "head">
        <span style="font-family: eagle ;">BookMe</span>
        <div class="pp">
          <a href="/profile"><img [src]="profile"></a>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="body">
    <ion-card *ngFor="let star of stars">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      <div class="foot">
        <a href="/home">
          <ion-icon routerlink="/home" name="home-outline"></ion-icon>
        </a>
        <a href="/post-house">
          <ion-icon name="add-circle"></ion-icon>
        </a>
        <a href="/books">
          <ion-icon name="bookmarks-outline"></ion-icon>
        </a>
        <a href ="/stars">
          <ion-icon name="star-outline"></ion-icon>
        </a>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-footer>